body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #0f1b1f;
}

.start-button {
	font-size: 48px;
	font-family: monospace;
	color: #fff;
	background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
	text-decoration: none;
	padding: 60px 120px;
	border-radius: 10px;
	background-size: 200%;
	transition: .5s;
}

.start-button:hover {
	background-position: right;
}